@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* SITE WIDE STYLING */
body {
  margin: 0;
  font-family: "VT323", monospace;
  background-color: #121212;
  color: #dadada;
  font-size: 2rem;
}

#master {
  display: grid;
  grid-template-columns: minmax(150px, 15%) auto;
}

a {
  color: #dadada;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #dadada;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 50px;
}

nav a {
  margin-top: 20px;
}

/* ----------------------- HOME COMPONENT ----------------------- */
#home-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

#home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

#home-info #home-play-now {
  border: 1px solid #dadada;
  padding: 3px 9px 3px 9px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#home-info #home-play-now:hover {
  border: 1px solid #dadada;
  color: #121212;
  background-color: #dadada;
  text-decoration: none;
}

#home-info h1 {
  margin: 0;
}

#home-info p {
  margin-top: 150px;
}

/* ----------------------- GUIDE COMPONENT ----------------------- */
#guide-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

#guide-info {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-left: 50px;
}

/* ----------------------- ABOUT COMPONENT ----------------------- */
#about-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

#about-info {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-left: 50px;
}
